/*.bb-navbar-brand,
.bb-navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}*/

/*
.bb-navbar-default {
/*
  background-image: -webkit-linear-gradient(top, #fff 0%, #550000 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #550000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#550000));
  background-image:         linear-gradient(to bottom, #fff 0%, #550000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  */
  background-color: #550000;
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
*/

  .site-title {
  position: absolute;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 29px;
  margin: 24px;
  margin-top: 56px;
  margin-left: 6%;
  width: 30%;
  z-index: 1;
}

.topbg {
  position: absolute;
  min-width: 100%;
  content: "";
  background-color: #550000;
  height: 135px;
  z-index: 0;
}

.bottombg {
  position: relative;
  min-width: 100%;
  content: "";
  background-color: #550000;
  margin-top: 150%;
  height: 90px;
  z-index: 0;
}

.chair {
  position: absolute;
  margin-top: 33px;
  margin-left: 46%;
  margin-right: 46%;
  width: 50%;
  z-index: 1;
}

navbar {
	font-family: "Roboto Condensed", "Questrial", sans-serif;
}

/*
nav {
  position: absolute;
  font-family: "Roboto Condensed", "Questrial", sans-serif;
  text-align: right;
  font-weight: bold;
  font-size: 105%;
  margin: 24px;
  margin-top: 52px;
  margin-left: 36%;
  margin-right: 6%;
  padding: 15px;
  z-index: 1;
}
*/

.bottomnav {
  display: inline;
  position: relative;
  float: right;
  color: white;
  font-family: "Roboto Condensed", "Questrial", sans-serif;
  text-align: right;
  font-size: 14px;
  margin: 3px 6% 3px 36%;
  z-index: 1;
}

html, p {
  font-family: "Playfair Display", "EB Garamond", serif;
  color: black;
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  font-family: "Playfair Display", "EB Garamond", serif;
  color: black;
  text-align: center;
  font-weight: 700px;
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}


/* unvisited link */

a:link {
  color: #EFFFCF;
  text-decoration: none;
}


/* visited link */

a:visited {
  color: #C0DEC0;
  text-decoration: none;
}


/* mouse over link */

a:hover {
  color: #2D882D;
  text-decoration: none;
}


/* selected link */

a:active {
  color: #FFAAAA;
  text-decoration: none;
}

.content {
  /*border: 2px solid black;*/
  position: relative;
  padding: 0px;
  top: 160px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.content a:link,
visited,
hover,
active {
  text-decoration: none;
}

.content a:link {
  color: #550000;
}

.content a:visited {
  color: #C0DEC0;
}


/* mouse over link */

.content a:hover {
  color: #2D882D;
}


/* selected link */

.content a:active {
  color: #FFAAAA;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .site-title {
    text-align: center;
    font-size: 32px;
    margin-top: 27px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 6%;
    width: 50%;
  }
  .topbg {
    height: 150px;
    margin-bottom: 6%;
  }
  .bottombg {
    margin-top: 200%;
    height: 100px;
  }
  nav {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 56px;
    margin-left: 21%;
    margin-right: 21%;
    margin-bottom: 6%;
  }
  .bottomnav {
    display: block;
    text-align: center;
    margin: 3px 18% 12px 18%;
  }
  nav a {
    display: inline;
    font-size: 18px;
  }
  nav select {
    display: none;
  }
