{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Praise for Mattaponi Queen" %}{% endblock %}
{% block title %}{% trans "Praise for Mattaponi Queen" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<!--
<h2>Congratulations!</h2>
-->


<div class="content">
    <div align="center" id="photo">
      <img src="http://images.indiebound.com/586/975/9781555975586.jpg" height=280 alt="Mattaponi Queen">
    </div>
  </div>

  <div class="content">

	<p></p>

    <p>*<em>Southern Living</em>&#8216;s &#8220;Best New Southern Author&#8221;</p>
    <p>*A <em>Kirkus Review </em>Best Fiction Debut of 2010 </p>
    <p>*Shortlisted for the 2010 Frank O&#8217;Connor Short Story Award</p>
    <p>*A <em>Chicago Tribune</em> Editor&#8217;s Choice</p>
    <p>*A 2010 Summer Reading Suggestion and a 2010 Favorite Short Story Collection from <em>Largehearted Boy</em></p>
    <p><em>*</em>A Discoveries pick from the <em>LA Times</em></p>
    <p>*Featured in <em>The Daily Beast</em>&#8216;s Best New Writers series</p>
    <p>*Featured in the debut fiction issue of <em>Poets &amp; Writers</em></p>
    <p>&#8220;Reading these stories is satisfying, like going to a concert in which the musicians, you can just tell, have given everything for the moment: your unforgettable evening.&#8221;<strong>—Susan Salter Reynolds for the <em>LA Times</em></strong></p>
    <p>&#8220;A great achievement as she has created a rich, capacious fictional territory about the lives of down-on-their luck people (forlorn principals, vengeful nurses, junkies trying to be good parents) that we don’t often encounter in fiction but
      fill the world.&#8221;<strong>—<em>The Daily Beast</em></strong> (<a href="http://www.thedailybeast.com/blogs-and-stories/2010-08-16/best-new-writers-1/">read full review</a>)</p>
    <p>&#8220;Regional fiction with serious bite.&#8221;<strong><em>&#8211;The Charlotte Observer </em></strong>(<a href="http://www.charlotteobserver.com/2010/08/22/1632776/elegant-words-everyday-lives.html">read full review</a>)</p>
    <p>&#8220;So good you&#8217;ll be hooked&#8221;<strong>—<em>The Minneapolis Star-Tribune </em></strong><a href="http://www.startribune.com/entertainment/books/100577684.html?elr=KArksD:aDyaEP:kD:aU1ccmiUiacyKUnciaec8O7EyUr">(read full review)</a></p>
    <p>&#8220;[Boggs] writes with subtlety, empathy and command, so that every page features small surprises: jolts of recognition, pungent dialogue, keen observations. Unfussy, understated and richly varied stories—a promising debut.” <strong>—Kirkus R</strong><strong>eviews</strong></p>
    <p>&#8220;Boggs’ debut collection of interwoven stories is simultaneously sharp-edged and pastoral, downcast and humorous. Her tales are set on the Mattaponi Indian Reservation in rural downstate Virginia, an unfamiliar landscape that springs to life
      as each story unfolds, revealing another layer in time[&#8230;] The reader feels privy to each conversation, so pitch-perfect is Boggs’ feel for the godforsaken place her characters inhabit.&#8221;<strong>-Booklist </strong></p>
    <p>&#8220;Impressive [&#8230;] these linked stories reach toward hope when they aren&#8217;t headed for heartbreak.&#8221; <strong>&#8211;<em>ELLE</em> Magazine</strong></p>
    <p>&#8220;Flawless [&#8230;] Each of the stories in the debut collection can stand alone, something many writers aspire to yet few achieve with such success. The protagonists aren’t merely hardscrabble people trying to get by, they’re trying to make
      sense of their lives and where they fit in the space of the world beyond the neighboring counties. Boggs’s carefully measured pace is the perfect accompaniment to her unique setting and its people who are indelibly linked.&#8221; <strong>-Bookslut</strong></p>
    <p>“Prose redolent with realism is a hallmark of the stories . . . . In this highly recommended collection, Boggs writes with subtlety and presents her characters unvarnished.” &#8211;<em><strong>The Virginian-Pilot</strong> </em></p>
    
   </div> 
    
<p>
	this is your local template file.
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
{% endblocktrans %}
{% endblock %}
